/* global css */
* {
    margin: 0;
    padding: 0;
}

/* Page related css */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* shared common css */
.btn-primary {
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: 0;
}
.section-width{
    width: 70%;
    margin: 0 auto;
}

/* banner section css */

.banner-section {
    background-image: url('/images/banner/banner3.png');
    height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 140px;
}

.banner-content {
    display: block;
    width: 40%;
    margin-left: auto;
    text-align: right;
    padding-right: 200px;
    padding-top: 220px;

}

.banner-content h2 {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description {
    padding-left: 120px;
    color: #FFF;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 26px;
}

/* About Section Css */
.about-section {
    display: flex;
    gap: 6rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content li {
    list-style: none;
}
.about-section-title{
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 24px;
}
.about-section-description{
    color: #444343;
    margin-bottom: 16px;
}
.about-section li{
    color: #444343;
    margin-bottom: 8px;
}
.about-section-list i{
    margin-right: 10px;
    color: #16D887;
}

/* Planing Seciton CSS */
.plan-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 130px;
    color: #151414;
}
.planning-content{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 50px;
}
.item-title{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 16px;
    margin-top: 24px;
}
.item-info{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}
